body {
    background-image: url(food-background.jpeg) ;
    background-size: cover;
}

header {
    background-color: #ffcbcb;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px
}
#link-main a {
    color: white;
    font-size: 20px;
}

h1 {
    color: #132743;
    font-family: 'Labrada', serif;
}

h2 {
    color: #184483;
}

a:link {
    color: #407088;
    text-decoration: none;
}

a:visited{
    color: #407088;

}

.food {
    height: 210px;
    width: 210px;
    object-fit: cover;
    border-radius: 20px;

}

.diff-foods {
    display: inline-grid;
    padding-right: 100px;
}

.rating {
    margin-top: 1px;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 75px;
    padding-left: 15px;
}

footer {
    margin-top: 45px;
    background-color: #ffb5b5;
    height: 55px;
    padding-top: 30px;
    padding-left: 20px;
}

table {
    background-color: #dab6ce;
    width: 25vh;
    border-radius: 10px;
    opacity: 0.85;
}

ol {
    background-color: #dab6ce;
    width: 50vh;
    border-radius: 10px;
    opacity: 0.85;
}